.card-p {
  background-color: #00a86b;
  color: black;
  margin-left: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: solid 1px lightgrey;
  box-shadow: 0px 0px 15px 1px grey;
  padding: 1rem;
  background: #00a86b;
}

.card-link-p {
  color: #fae03c;
}
