.card-tcd {
  margin-left: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px 1px grey;
  background-color: #00a86b;
  border-radius: 5px;
  border: solid 1px lightgrey;
}

::-webkit-scrollbar {
  display: none;
}

.task-title {
  color: white;
  font-size: 2em;
  font-weight: bold;
  overflow-x: auto;
}

.text-center {
  display: table;
  margin: auto;
}

.task-result-title {
  color: #fae03c;
  font-size: 1.5em;
  border-bottom: solid 1px currentColor;
  line-height: 1;
  text-shadow: 2px 2px #00a86b, 2px -2px #00a86b, -2px 2px #00a86b,
    -2px -2px #00a86b; 
}

.task-heading {
  color: #fae03c;
  font-size: 1.5em;
  border-bottom: solid 1px currentColor;
  line-height: 1;
  text-shadow: 2px 2px #00a86b, 2px -2px #00a86b, -2px 2px #00a86b,
    -2px -2px #00a86b;
}

@media (max-width: 618px) {
  .task-heading {
    font-size: 1em;
  }
}

.task-result {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

@media (max-width: 618px) {
  .task-result {
    font-size: 1em;
  }
}

.delete-btn {
  float: right;
}

#btn-danger {
  float: right;
}
