body {
  background: #d8d1d0;
}

.navbar {
  background-color: #68d6c7;
  border-radius: 2px;
  margin-bottom: 30px;
}

.nav-link {
  color: #303f2f;
}

.nav-link-2 {
  color: #303f2f;
}

.nav-link-3 {
  color: #303f2f;
  margin-left: 15px;
}

.nav-link-4 {
  color: #303f2f;
  margin-right: 15px;
  margin-left: 5px;
}

.container {
  min-width: 90vw;
}
