

.jumbotron {
  margin-top: 10%;
  background-color: #303f2f;
  /* background-color: #102c0f; */
  color:yellowgreen;
  border: solid 1px lightgrey;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px grey;
  padding: 3rem;
  text-shadow: 
  1px 1px 3px black;
  /* max-width: 90%; */
  font-family: 'Questrial', sans-serif;
  background: #303f2f; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #303f2f 0%, #102d10 72%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #303f2f 0%, #102d10 72%); /*Chrome10-25,Safari5.1-6*/
  background: linear-gradient(135deg, #303f2f 0%, #102d10 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303f2f', endColorstr='#102d10',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */




}


.display-4 {
  font-size: 60px;
  text-align: center;
}

.lead {
  font-size: 40px;
  color: #68d6c7;
}

.about {
  font-size: 22px;
  color: #d8d1d0;
}

.about-2 {
  font-size: 22px;
  color: #68d6c7;
}
