.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.form-container {
  width: 500px;
  border: solid 1px lightgrey;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px grey;
  padding: 3rem;
  color: #c7ea46;
  text-shadow: 
  1px 1px 3px black;

  background: #303f2f; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #303f2f 0%, #102d10 72%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #303f2f 0%, #102d10 72%); /*Chrome10-25,Safari5.1-6*/
  background: linear-gradient(135deg, #303f2f 0%, #102d10 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303f2f', endColorstr='#102d10',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.sign-up-header {
  border-bottom: solid 1px #6f836f;
  line-height: .8;
  width: 3.5em;
  margin-left: 20px;
  font-family: 'Questrial', sans-serif;
  font-weight: 100;
  font-size: 2.2em;
}

.register-btn,
.register-btn:visited {
  background-color: #303f30;
  color: rgb(212, 211, 211);
  border: solid 1px yellowgreen;
  border-radius: 5px;
  float: right;
  margin-top: 5px;
  padding: .3em;
  width: 6em;
  /* box-shadow: 0px 0px 4px 4px #6f836f; */

background: #303f2f; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #303f2f 0%, #102d10 72%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #303f2f 0%, #102d10 72%); /*Chrome10-25,Safari5.1-6*/
background: linear-gradient(135deg, #303f2f 0%, #102d10 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303f2f', endColorstr='#102d10',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.register-btn:hover, 
.register-btn:active, 
.register-btn:focus,
.register-btn:link {
  background-color:#6f836f;
  border: solid 1px rgb(96, 182, 182);
  transition: 300ms ease-out;
  box-shadow: 0px 0px transparent;
  outline: none;
}
