.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.form-container-2 {
  width: 500px;
  height: 300px;
  border: solid 1px lightgrey;
  background: whitesmoke;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px grey;
  padding: 3rem;
  background: #00a86b;
  color: #fae03c;
}

.form-container btn {
  float: right;
}

.btn {
  background-color: #3f704d;
  /* color: #fae03c; */
  color: black;
}
