.lower-nav-btn {
  background-color: #303f30;
  color: rgb(212, 211, 211);
  /* color: peachpuff; */
  border: solid 1px yellowgreen;
  border-radius: 5px;
  margin: 5px;
  margin-top: 20px;
  padding: 0.3em;
  /* width: 75px; */
  background: #303f2f; /* Old browsers */
  font-size: 1.5em;
  float: right;
  transition: 0.5s ease;
}

.lower-nav-btn:hover {
  cursor: pointer;
  background: #455a45;
}
